**/target/*
**/*.iml
**/*.ipr
**/*.iws
**/*.ids
gradlew.bat
.idea
out/
build/
.gradle
gradle-app.setting
!gradle-wrapper.jar
logs/
bin/
.classpath
.project
.settings/
/discovery-server/work/
/discovery-server/logs/